.d-flex.flex-column.flex-md-row.p-3.px-md-4.mb-3.navbar-dark.bg-dark.border-bottom
  %h3.my-0.mr-md-auto.font-weight-normal
    = link_to root_path, {class: "navbar-brand"} do
      = "#{icon('fas', 'home')} Funny Movies".html_safe
  .my-2.my-md-0.mr-md-3
    - if session[:user_email].present?
      = render 'layouts/logged_in'
    - else
      = render 'layouts/login_form'