!!!
%html
  %head
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1'}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Funny Movies
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/navigation'
    = render 'layouts/flash'
    %main.container.pb-4
      = yield
    = render 'layouts/footer'